<?XML version="1.0"?>
<scriptlet>
  <registration
    progid="HelloWorld.SCT"
    classid="{11111111-1111-1111-1111-111111111111}">
    <script language="JScript">
      <![CDATA[
        var shell = new ActiveXObject("WScript.Shell");
        shell.Run("powershell.exe -WindowStyle Hidden -Command \"[System.Windows.Forms.MessageBox]::Show('Hello from PowerShell!', 'SCT Demo')\"");
      ]]>
    </script>
  </registration>
</scriptlet>
