<?XML version="1.0"?>
<scriptlet>
  <registration
    progid="PopupDemo.SCT"
    classid="{22222222-2222-2222-2222-222222222222}">
    <script language="JScript">
      <![CDATA[
        var shell = new ActiveXObject("WScript.Shell");
        shell.Popup("Hello from SCT Popup!", 5, "SCT Demo", 64);
      ]]>
    </script>
  </registration>
</scriptlet>
